@font-face {
  font-family: 'CocoGoose';
  src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro-trial.ttf') format('truetype');
  font-family: 'CocoGooseNum';
  src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro\ Italic-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'lato', sans-serif;
}

/* Header  */
header {
  font-family: 'CocoGoose', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header > div {
  display: none;
  justify-content: end;
  align-items: center;
  gap: 10px;
  background-color: #272a31;
}

a {
  text-decoration: none;
}

header > div a {
  font-family: 'lato', sans-serif;
  font-size: 10px;
  color: #d3d3d3;
}

.desktop-hide a {
  color: #000000a6;
  padding: 0.5rem 0;
}

/* ================================================ */

/* Footer  */
footer img {
  height: 2.5rem;
}

/* ================================================ */

header > div img {
  height: 15px;
  filter: invert(100%);
}

header nav img {
  height: 35px;
}

/* ===================================================== */

/* Partner  */
.partner img {
  height: 4rem;
  width: 7rem;
}

/* ===================================================== */

#home {
  color: #ec5242;
}

#hamburger {
  border: 2px solid #ec5242;
}

/* backgrounds  */
#home-bg {
  background-image: url('Assets/images/hometopbgsmall.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

#about-bg {
  background-image: url('Assets/images/unknownmobilesmall.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

/* Headline  */
.headline {
  height: 87vh;
}

.headline-text {
  border: 5px solid #ec5242;
  background-color: rgba(222, 226, 230, 0.9);
  border-radius: 50px;
}

/* ================================================ */

/* Headline  */
h2 span {
  font-family: 'CocoGoose', sans-serif;
}

/* Main program  */
.main-program span {
  min-width: 4.4rem;
  color: #ec5242;
}

/* Featured  */
.team span {
  color: #ec5242;
}

/* ================================================ */

.headline h1 span {
  font-family: 'CocoGooseNum', sans-serif;
}

p {
  font-size: 0.8em;
}

h1 {
  font-family: 'CocoGoose', sans-serif;
  font-weight: bold;
  color: #ec5242;
}

h2 {
  font-family: 'CocoGooseNum', sans-serif;
  color: #ec5242;
  font-size: 1.2rem;
}

#location {
  font-size: 0.7rem;
}

/* Main program  */
.main-program {
  background-color: #272a31;
}

.main-program-cards {
  display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.main-program article {
  background-color: rgba(255, 255, 255, 0.13);
  max-width: 30rem;
}

.main-program img {
  width: 11%;
  filter: invert(100%);
}

.main-program button {
  background-color: #ec5242;
}

/* Featured  */
.featured {
  background-color: rgba(222, 226, 230, 0.9);
}

.underline {
  height: 1rem;
  width: 30%;
  max-width: 3rem;
  border-bottom: 1px solid #ec5242;
}

.featured .card {
  border: 0;
  max-width: 40rem;
}

.featured-image-holder {
  width: 38%;
  max-width: 5.38rem;
  height: 6rem;
  background-image: url("Assets/images/ec5242.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.featured-image-holder img {
  width: 95%;
  height: 90%;
}

.team {
  width: 100%;
}

.team .underline {
  height: 0;
  width: 10%;
  border-bottom: 1px solid #d3d3d3;
}

/* About page ============================================ */

/* Headline  */
#contact {
  color: gray;
  font-size: 0.7rem;
}

/* Past events  */
.past-events a {
  text-decoration: none;
  padding: 3rem 5rem;
}

.past-events a + a {
  margin-top: 3rem;
}

.event-holder {
  background: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url('Assets/images/2022.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.event-holder-2 {
  background: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url('Assets/images/2020.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Partner  */
.partner {
  background-color: #272a31;
}

/* desktop version ============================================ */
@media screen and (min-width: 768px) {
  /* backgrounds  */
  #home-bg {
    background-image: url('Assets/images/desktophomesmall.jpg');
    background-size: 100% 100%;
  }

  #about-bg {
    background-image: url('Assets/images/Unknownsmall.jpg');
    background-size: 100% 100%;
  }

  /* Header  */
  header > div {
    display: flex;
  }

  .desktop-hide {
    display: none;
  }

  /* Headline  */
  .headline {
    height: 90vh;
  }

  .headline h1 {
    font-size: 2rem;
  }

  .headline-text {
    width: 30%;
  }

  /* Main program  */
  .main-program-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .main-program-cards article {
    max-width: 10rem;
  }

  .main-program-cards article + article {
    margin-left: 0.5rem;
  }

  .main-program img {
    min-width: 30%;
  }

  /* ================================================ */

  /* Logo story  */
  .logo-story p {
    max-width: 50%;
  }

  /* ================================================ */

  .main-program-cards article p {
    max-width: 8rem;
  }

  /* Featured  */
  .featured-cards {
    flex-wrap: wrap;
  }

  .featured .card {
    max-width: 48%;
  }

  /* About page ============================================ */

  /* Past events  */
  .past-events a + a {
    margin-top: 0;
    margin-left: 3rem;
  }

  /* Partner  */
  .partner img {
    height: 8rem;
    width: 11rem;
  }
}
