@font-face {
    font-family: 'CocoGoose';
    src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro-trial.ttf') format('truetype');

         font-family: 'CocoGooseNum';
    src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro\ Italic-trial.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'lato', sans-serif;
}

/* Headline  */
.headline {
    height: 100vh;
}

.headline h1 span {
    font-family: 'CocoGooseNum', sans-serif;
}

p {
    font-size: .8em;
}

h1 {
    font-family: 'CocoGoose', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'CocoGooseNum',sans-serif;
}

h2 span {
    font-family: 'CocoGoose', sans-serif;
}

/* Main program  */
.main-program {
    background-color: bisque;
    gap: 10px;
}

.card {
    width: 90%;
    gap: 1rem;
}

.main-program img {
    width: 5%;
}

/* Featured  */
.underline {
    height: 1rem;
    width: 30%;
    border-bottom: ;
}

.featured-image-holder {
    width: 10rem;
    height: 5rem;
    background-image: url("Assets/images/scratched.jpg");
    background-size: 50% 50%;
    background-repeat: no-repeat;    
}

.featured-image-holder img {
    width: 85%;
    height: 85%;
}

/* .featured-image-holder img {
    display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
} */

/* .container {
    position: relative;
    width: 600px;
    height: 400px;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    z-index: 1;
  }
  
  .foreground-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 10%;
    z-index: 2;
  } */
  