*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'lato', sans-serif;
}

.headline {
    height: 100vh;
}

p {
    font-size: .8rem;
}