@font-face {
    font-family: 'CocoGoose';
    src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro-trial.ttf') format('truetype');

         font-family: 'CocoGooseNum';
    src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro\ Italic-trial.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'lato', sans-serif;
}

/* Header  */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header img {
    height: 30px;
}

/* Headline  */
.headline {
    height: 90vh;
    background-image: url('Assets/images/hometopbg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.headline-text {
    border: 2px solid #ec5242;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: ;
}

.headline h1 span {
    font-family: 'CocoGooseNum', sans-serif;
}

p {
    font-size: .8em;
    color: #fff;
}

h1 {
    font-family: 'CocoGoose', sans-serif;
    font-weight: bold;
    color: #ec5242;
}

h2 {
    font-family: 'CocoGooseNum',sans-serif;
    color: #ec5242;
}

h2 span {
    font-family: 'CocoGoose', sans-serif;
}

/* Main program  */
.main-program {
    background-image: url('Assets/images/blackpattern.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    gap: 10px;
}

.main-program .underline {
    height: 0;
}

.card {
    gap: 1rem;
}

.main-program article {
    background-color: #272a31;
    max-width: 30rem;
}

.main-program img {
    width: 11%;
    filter: invert(100%);
}

.main-program span {
    min-width:4.4rem;
    color: #ec5242;
}

.main-program button {
    background-color: #ec5242;
}

/* Featured  */
.underline {
    height: 1rem;
    width: 30%;
    max-width: 3rem;
    border-bottom: 1px solid #ec5242;
}

.featured .card {
    border: 0;
}

.featured-image-holder {
    width: 30%;
    max-width: 17rem;
    height: 6rem;
    background-image: url("Assets/images/ec5242.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;    
}

.featured-image-holder img {
    max-width: 95%;
    height: 90%;
}

.team {
    width: 100%;
}

.team .underline {
    height: 0;
    width: 10%;
    border-bottom: 1px solid #d3d3d3;
}

/* About page ============================================ */
.past-events a {
    text-decoration: none;
    padding: 2rem 3.5rem;
}
.event-holder {
    background-color: #ec5242;
}

/* Partner  */
.partner {
    background-color: #272a31;
}

.partner img {
    height: 4rem;
    width: 7rem;
}

/* Footer  */
footer img {
    height: 2rem;
}