@font-face {
    font-family: 'CocoGoose';
    src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro-trial.ttf') format('truetype');

         font-family: 'CocoGooseNum';
    src: url('Assets/fonts/CocoGoose/Cocogoose\ Pro\ Italic-trial.ttf') format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'lato', sans-serif;
}

.headline {
    height: 100vh;
}

p {
    font-size: .8em;
}

h1 {
    f
    /* text-shadow: 4px 4px 0px black; */
    font-family: 'CocoGoose', sans-serif;
}